@model COMP2139_ICE.Areas.ProjectManagement.Models.ProjectTask
@{
    ViewData["Title"] = "Delete Task";
}
<h1 class="mb-3">@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this task?</h3>

<dl class="row">
    <dt class="col-sm-2">Title</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.Title, "ProjectTaskTitle")</dd>

    <dt class="col-sm-2">Description</dt>
    <dd class="col-sm-10">@Model.Description</dd>

    <dt class="col-sm-2">Project Id</dt>
    <dd class="col-sm-10">@Model.ProjectId</dd>
</dl>

<form asp-area="ProjectManagement" asp-controller="ProjectTask" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ProjectTaskId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-area="ProjectManagement"
       asp-controller="ProjectTask"
       asp-action="Index"
       asp-route-projectId="@Model.ProjectId"
       class="btn btn-secondary">Cancel</a>
</form>
